body {
    font-family: sans-serif;
}

#main_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.big {
    font-size: larger;
}

.fat {
    font-weight: bold;
}

.some_space_above {
    margin-top: 2em;
}

.some_space_below {
    margin-bottom: 1em;
}

.some_space_left {
    margin-left: 10px;
}

.votes_container {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 2em;
}

.votes_stats_container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
    width: max-content;
}

.error {
    color: coral;
}

.hidden {
    display: none;
}